body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, p {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

form {
    max-width: 400px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form on the page */
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    color: red;
}

.error-container {
    text-align: center;
  }